.login {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%),
        url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background: cover; */
}

.login-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}

.login-navbar__button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600
}

.login-navbar__logo {
    height: 40px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-container__form {
    width: 300px;
    height: 300px;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
}

.login-form__input {
    height: 40px;
    outline: none;
    border: none;
    padding: 0px 5px;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
}

.login-form__input::placeholder {
    color: whitesmoke
}

.login-form__button {
    background-color: red;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
}